# SQL Murder Mystery

## Can you find out whodunnit?

![A decorative illustration of a detective looking at an evidence board.](https://mystery.knightlab.com/174092-clue-illustration.png)

There's been a Murder in SQL City! The SQL Murder Mystery is designed to be both a self-directed lesson to learn SQL concepts and commands and a fun game for experienced SQL users to solve an intriguing crime.

## SQL sleuths start here

A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a **​murder​**that occurred sometime on ​**Jan.15, 2018​** and that it took place in ​**SQL City​**. Start by retrieving the corresponding crime scene report from the police department’s database.

### Exploring the Database Structure

Experienced SQL users can often use database queries to infer the structure of a database. But each database system has different ways of managing this information. The SQL Murder Mystery is built using SQLite. Use this SQL command to find the tables in the Murder Mystery database.

Run this query to find the names of the tables in this database.

SQLite-specific tip: the `sqlite_master` table is SQLite's catalog of tables and schemas, and other databases expose metadata differently.

This command is specific to SQLite. For other databases, you'll have to learn their specific syntax.

In [1]:
# Install required packages
%pip install jupysql sqlalchemy pandas --quiet

# Load SQL magic
%load_ext sql

# Connect to the database
%sql sqlite:///sql-murder-mystery.db
#%config SqlMagic.style = 'table'

Note: you may need to restart the kernel to use updated packages.

Connecting to 'sqlite:///sql-murder-mystery.db'

In [2]:
%%sql
SELECT name
FROM sqlite_master

Running query in 'sqlite:///sql-murder-mystery.db'

+---------------------------------------+
|                  name                 |
+---------------------------------------+
|           crime_scene_report          |
|            drivers_license            |
|         facebook_event_checkin        |
|               interview               |
|           get_fit_now_member          |
| sqlite_autoindex_get_fit_now_member_1 |
|          get_fit_now_check_in         |
|                solution               |
|             check_solution            |
|                 income                |
+---------------------------------------+
Truncated to displaylimit of 10.


Besides knowing the table names, you need to know how each table is structured. The way this works is also dependent upon which database technology you use. Here's how you do it with SQLite.

Run this query to find the structure of the `crime_scene_report` table

Change the value of 'name' to see the structure of the other tables you learned about with the previous query.

In [3]:
%%sql
SELECT *
FROM crime_scene_report
WHERE date = "20180115" AND city = "SQL City"

Running query in 'sqlite:///sql-murder-mystery.db'

+----------+---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+
|   date   |   type  |                                                                                        description                                                                                        |   city   |
+----------+---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+
| 20180115 | assault |                                                        Hamilton: Lee, do you yield? Burr: You shot him in the side! Yes he yields!                                                        | SQL City |
| 20180115 | assault |                                                                                      Report Not Found                                                                                     | SQL City |
| 20180115 |  murder | Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave". | SQL City |
+----------+---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+

In [4]:
%%sql
SELECT i.person_id, p.address_number
FROM interview i
LEFT JOIN person p
ON i.person_id = p.id
WHERE p.address_street_name = "Northwestern Dr" 
ORDER BY p.address_number DESC

Running query in 'sqlite:///sql-murder-mystery.db'

+-----------+----------------+
| person_id | address_number |
+-----------+----------------+
|   14887   |      4919      |
|   73368   |      3697      |
|   96595   |      3631      |
|   28360   |      3212      |
|   51114   |      3055      |
|   68690   |      3046      |
|   34352   |      2512      |
|   80921   |      2386      |
|   88423   |      1879      |
|   72076   |      1707      |
+-----------+----------------+
Truncated to displaylimit of 10.

In [5]:
%%sql
SELECT person_id, transcript
FROM interview
WHERE person_id = "14887"

Running query in 'sqlite:///sql-murder-mystery.db'

+-----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| person_id |                                                                                                            transcript                                                                                                           |
+-----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|   14887   | I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W". |
+-----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [6]:
%%sql
SELECT i.person_id, p.address_number, p.name
FROM interview i
LEFT JOIN person p
ON i.person_id = p.id
WHERE p.address_street_name = "Franklin Ave" AND p.name LIKE "Annabel%"

Running query in 'sqlite:///sql-murder-mystery.db'

+-----------+----------------+----------------+
| person_id | address_number |      name      |
+-----------+----------------+----------------+
|   16371   |      103       | Annabel Miller |
+-----------+----------------+----------------+

In [7]:
%%sql
SELECT person_id, transcript
FROM interview
WHERE person_id = "16371"

Running query in 'sqlite:///sql-murder-mystery.db'

+-----------+-----------------------------------------------------------------------------------------------------------------------+
| person_id |                                                       transcript                                                      |
+-----------+-----------------------------------------------------------------------------------------------------------------------+
|   16371   | I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th. |
+-----------+-----------------------------------------------------------------------------------------------------------------------+

In [8]:
%%sql
SELECT gfnc.membership_id, gfnm.membership_status, dl.car_make, dl.plate_number, p.name, p.id
FROM get_fit_now_check_in gfnc
LEFT JOIN get_fit_now_member gfnm
ON gfnc.membership_id = gfnm.id
LEFT JOIN person p
ON gfnm.person_id = p.id
LEFT JOIN drivers_license dl
ON p.license_id = dl.id
WHERE gfnc.check_in_date = "20180109" AND gfnc.membership_id LIKE "48Z%"

Running query in 'sqlite:///sql-murder-mystery.db'

+---------------+-------------------+-----------+--------------+---------------+-------+
| membership_id | membership_status |  car_make | plate_number |      name     |   id  |
+---------------+-------------------+-----------+--------------+---------------+-------+
|     48Z7A     |        gold       |    None   |     None     |  Joe Germuska | 28819 |
|     48Z55     |        gold       | Chevrolet |    0H42W2    | Jeremy Bowers | 67318 |
+---------------+-------------------+-----------+--------------+---------------+-------+


### The rest is up to you!

If you're really comfortable with SQL, you can probably get it from here. To help, here is the schema diagram:

![schema diagram](schema.png)

Use your knowledge of the database schema and SQL commands to find out who committed the murder.
### Check your solution

Did you find the killer? When you think you know the answer, submit your suspect using the following code and find out if you're right.

In [10]:
%%sql
INSERT INTO solution VALUES (1, 'Jeremy Bowers');
SELECT value FROM solution;

Running query in 'sqlite:///sql-murder-mystery.db'

1 rows affected.

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                               value                                                                                                                                                                                                |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Congrats, you found the murderer! But wait, there's more... If you think you're up for a challenge, try querying the interview transcript of the murderer to find the real villain behind this crime. If you feel especially confident in your SQL skills, try to complete this final step with no more than 2 queries. Use this same INSERT statement with your new suspect to check your answer. |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [11]:
%%sql
SELECT person_id, transcript
FROM interview
WHERE person_id = "67318"

Running query in 'sqlite:///sql-murder-mystery.db'

+-----------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| person_id |                                                                                                                    transcript                                                                                                                    |
+-----------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|   67318   | I was hired by a woman with a lot of money. I don't know her name but I know she's around 5'5" (65") or 5'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017. |
|           |                                                                                                                                                                                                                                                  |
+-----------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [12]:
%%sql
SELECT fec.person_id, p.name
FROM facebook_event_checkin fec
LEFT JOIN person p
ON fec.person_id = p.id
LEFT JOIN drivers_license dl
ON p.license_id = dl.id
WHERE fec.event_name = "SQL Symphony Concert" AND dl.car_make = "Tesla"
GROUP BY fec.person_id
HAVING COUNT(DISTINCT fec.date) = 3

Running query in 'sqlite:///sql-murder-mystery.db'

+-----------+------------------+
| person_id |       name       |
+-----------+------------------+
|   99716   | Miranda Priestly |
+-----------+------------------+

In [ ]:
# %%sql
# TRUE MURDERER. PASSED | Removed for Autograder Purposes
# INSERT INTO solution VALUES (1, 'Miranda Priestly');
# SELECT value FROM solution;